* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eee;
}

.container {
  width: 90%;
  margin: 14px auto;
}

.text-center {
  text-align: center;
}

.form-container {
  display: grid;
  gap: 12px;
  justify-items: center;
  margin-top: 14px;
}

.input {
  border: 1px solid rgb(78, 78, 78);
  padding: 6px;
  border-radius: 4px;
  font-size: 18px;
  width: 40%;
  background-color: white;
}

.btn {
  background-color: rgb(44, 172, 247);
  border: none;
  border-radius: 4px;
  padding: 8px;
  width: 40%;
  font-size: 18px;
  color: white;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.5;
}

.image {
  margin-top: 40px;
  width: 300px;
}
